body {
    background-color: #EAF6F6;
}

hr {
    background-color: white;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 8px;
    width: 8%;
}

/*=============TAG SELECTOR=========================*/

img {
    height: 150px;
}

h1 {
    color : #66BFBF;
}

h3 {
    color: #66BFBF;
}

/*=============CLASS SELECTOR=========================*/

.contact {
    font-size: medium;
    background-color: lightcyan;

}

.address {
    font-size: medium;
    background-color: lightblue;
}


/*=============ID SELECTOR=========================*/

#number {
    font-size: medium;
    background-color: lightcyan;
}

