body {
    font-family: "Montserrat";  
}

#title {
    background-color: #FF4C68;
    color: #FFF;
}


h1 {  font-family: "Montserrat-Black";
      font-size: 3.5rem;
      line-height: 1.5;
      font-weight: bold;
}

.navbar {
    padding-bottom: 5rem;
}

nav.navbar.navbar-expand-lg.navbar-dark {
    padding-bottom: 4.5rem;
}

/* Navigation Bar */
.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

a.navbar-brand {
    font-size: 2.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-White";
}

.download-button {
    margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
    width: 60%;
    transform: rotate(25deg);
}
