body {
    margin: 0;
    text-align: center;
}
h1 {
    margin-top: 0;
}

.top-container {
    background-color: #E4F5F9;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    background-color: #FF0000;
    height: 200px;
    width: 200px;
}

.bottom-container {
    background-color: blue;
    height: 200px;
    width: 200px;
}

.pro {
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
    right: 430px;
    top: 50px;
}

.top-cloud{
    position: absolute;
    left: 430px;
    bottom: 300px;
}