body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', sans-serif;
}
h1 {
    font-size: 6rem; 
    margin:50px auto 0 auto ;
    color: #66BFBF; 
    font-family: 'Sacramento', cursive;
}

h2 {
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;

}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 2;
}

hr {
    border: dotted grey;
    border-bottom: none;
    width: 8%;
    border-width: 8px;
    margin: 100px auto;
}

.top-container {
    background-color: #E4F5F9;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    margin: 100px 0;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}
   
.pro {
    text-decoration: underline;
}

.intro {
    width: 30%;
    margin: auto;
}

.bottom-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.top-cloud{
    position: absolute;
    left: 400px;
    bottom: 300px;
}

.footer-link {
    color: #11999E;
}

.android-image {
    width: 25%;
    float: left;
    margin-right: 30px;
}
.web-image {
    width: 40%;
    float: right;
    margin-left: 30px ;
}

.contact-message {
    
}
