body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', sans-serif;
}
h1 {
    font-size: 6rem; 
    margin:50px auto 0 auto ;
    color: #66BFBF; 
    font-family: 'Sacramento', cursive;
}

h2 {
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;

}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

.top-container {
    background-color: #E4F5F9;
    position: relative;
    padding-top: 100px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
   
.pro {
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.top-cloud{
    position: absolute;
    left: 400px;
    bottom: 300px;
}

.footer-link {
    color: #11999E;
}

.android-image {
    width: 25%;
    float: left;
    margin-right: 30px;
}
.web-image {
    width: 40%;
    float: right;
    margin-left: 30px ;
}

